<table>
	<tr>
		<th>Cuenta</th>
		<th>Telefono</th>
		<th>Capacidad</th>
		<th>Ultima version</th>
	</tr>
	<% @accounts.each do |account| %>
	<tr>
		<td><%= link_to account.Name, account %></td>
		<td><%= account.Phone %></td>
		<td><%= last_package_extensions(account.Id) %></td>
		<td><%= last_package_version(account.Id) %></td>
	</tr>
	<% end %>
</table>

<p>
	<%= link_to "Exportar a Excel", accounts_path(format: "xls") %>
</p>